.character-card {
    border: 2px solid #333;
    padding: 5px;
    width: 160px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: yellow   ;
    box-shadow: 0px 2px 5px rgb(251, 255, 0);
    margin-bottom: 10px;
    margin-left: 40px; 
}



.character-card h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1em; 
    margin-bottom: 5px;
    color: #f6ff00;
}


.character-card p {
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
    color: #ddff00;
    margin: 3px 0;
}


.character-image {
    max-width: 100%;
    height: auto;
}
