header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 10px 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffd700; 
}


.menu {
    font-size: 18px;
    color: #ffd700;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #ffd700;
    margin: 0 10px;
}

.menu span {
    color: #ffd700;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 50%;
}

.logo {
    width: 100px;
    height: auto;
}
